*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: auto;
    width: 50%;
    margin-top: 50px;
}

.array.mt-2 {
    background-color: #6b216f1c;
    font-size: 25px;
}
p#txtarr {
    display: inline-block;
}
form {
    display: flex;
    justify-content: space-between;
}
